body{
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    padding: 1vw;
}

.grid-2-1{
    display: grid;
}


.grid-2-1{
    grid-template-columns: 2fr 1fr;
}

.container {
    border: 1px solid #3795ed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    padding: 2em;
    background: rgb(234 234 234);
    background: #000000e2;
    color: white;
}

.programcontainer{
    border: 1px solid #3795ed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    padding: 0.5rem 0;
    background: rgb(234 234 234);
    background: #000000e2;
    color: white;
}

.input > input {
    border: none;
    outline: none;
    padding: 0.3rem;
    border-radius: 18px;
    color: rgb(255 255 255);
    background: #7c7c7c2b;
    font-family: 'Raleway', sans-serif;
}

.displayWeather{
    width: 100%;
    color: #12fbe9;
    text-shadow: -1px 1px 0 #3795ed,
                  1px 1px 0 #3795ed,
                  1px -1px 0 #3795ed,
                 -1px -1px 0 #3795ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.displayWeather img{
    width: 100px;
    height: 100px;
    margin: -20px;
}

.displayFutureWeather{
    width: 100%;
}
.displayFutureWeather table{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    user-select: none;
    font-weight: bold;
}

.displayFutureWeather table .neonheader{
    background-color: #d300c4;
    color: #123e7c;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1rem;
}

.displayFutureWeather table td{
    padding: 0.5rem;
}



.displayFutureWeather table {
    color:#08bbc6;
}

.displayFutureWeather tr:hover {background-color:#08bbc6; color:#123e7c;} /** Highlights row**/

.displayFutureWeather table .neonheader tr:hover{
    background-color: #d300c4 !important;
    color: #123e7c;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
}

#headline{
    a{
        text-decoration: none;
        color: #12fbe9;
        &:hover{
            color: #d300c4;
        }
    }
}